.statement{
  margin: 0;
}
#tree-container svg{
  margin: 0;
  padding: 0;
}
#scr-1,
#scr-2,
#scr-3,
#scr-4,
#scr-5,
#scr-6,
#scr-7,
#scr-8{
  height: 100vh;
  width: 100vw;
}
.white-background{
  background-color: white;
}
.yellow-background{
    background-color: #EACE57;
}
.light-blue-background{
  background-color: #CDE0E0;
}
.dark-blue-background{
  background-color: #4492A0;
}
.persona {
  display: block;
  height: 50vh;
  width: auto;
}

#scr-2 .zoom {
  width: 100%
}

#carousel-control-right,
#carousel-control-left{
  background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%)
}
.item img{
  display: inline-block;
  vertical-align: middle;
  width: 50vw;
  margin: 10vw;
  margin-left: 25vw;
}
